# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/
.factorypath
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

# OS
.DS_Store